#ycomments-thread h1 {
    font-size: small;
}

#ycomments-thread > .ycomments-comment {
    margin-left: 0;
}

.ycomments-comment {
    display: block;
    margin-left: 2em;
}

.ycomments-unpopular {
    color: #888888;
}

ul.ycomments-meta {
    margin: 0;
    padding: 0;
}

ul.ycomments-meta li {
    list-style-type: none;
    display: inline;
    margin: 0;
}
